{% extends 'users/base.html' %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <h2 class="text-center">Forgot Password</h2>
        <p class="text-center">Enter your email to receive password reset instructions.</p>
        <form method="POST" class="mt-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100">Send Reset Instructions</button>
        </form>
        <div class="text-center mt-3">
            <a href="{% url 'login' %}">Back to Login</a>
        </div>
    </div>
</div>
{% endblock %}
